body {
  font-family: "Roboto", sans-serif;
  color: #333;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.console-wrapper {
  padding: 15px 20px;
  background: #2f2f32;
}

.screen-border {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px 40px;
  background: #000;
  border-radius: 20px;
}

.screen-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #333;
  height: 50px;
  width: 100%;
  padding: 15px 0;
}

.screen-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0.5rem;
  margin-bottom: 2rem;
  letter-spacing: 2px;
}

.screen-wrapper {
  padding: 1rem 1.5rem;
  border: 1px solid #333;
  width: 100%;
  max-width: 60rem;
  background: #eeeeee;
  margin: auto;
}

.grid-wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  margin-left: 2rem;
  width: calc(100% - 1.5rem);
  height: 220px;
  -ms-grid-columns: (200px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 200px);
  -webkit-column-gap: 15px;
          column-gap: 15px;
  grid-auto-flow: column;
  overflow-y: scroll;
}

.grid {
  height: 200px;
  width: 200px;
  border: 3px solid #fffdfc;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.05);
}

.grid:hover {
  outline: 5px solid #3db4ad;
}

.grid .game-placeholder {
  background: #eeeeee;
  padding-bottom: 100%;
}

.grid .game {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bubble-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.bubble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  height: 65px;
  width: 65px;
  background: #fffdfc;
}

.bubble:hover {
  outline: 4px solid #3db4ad;
}

.bubble:hover .bubble-title {
  display: block;
}

.bubble-title {
  display: none;
  position: absolute;
  width: 130px;
  bottom: -25px;
  left: -50%;
  white-space: nowrap;
  text-align: center;
  color: #0885a5;
  text-shadow: 1px 1px 2px #0885a554;
  font-size: 18px;
}

.bubble .icon {
  display: block;
  margin: auto;
  font-size: 32px;
}

.toolbar {
  font-size: 25px;
}

.toolbar * {
  margin: 0 10px;
}

.user-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 80%;
  border: 4px solid #fffdfc;
  background-color: #0885a5;
  height: 60px;
  border-radius: 60px;
  width: 60px;
  overflow: hidden;
}

.user-icon:hover {
  border-color: #3db4ad;
}

.user-icon img {
  padding: 2px;
}

.button-prompts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transform: translateX(-2%);
          transform: translateX(-2%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-prompts * {
  margin: 0 70px;
}

.options {
  position: relative;
  height: 30px;
  border: 1px solid #333;
  width: 30px;
  border-radius: 30px;
  font-size: 25px;
}

.options::before {
  content: attr(data-button);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.options::after {
  content: attr(data-action);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(35%, -50%);
          transform: translate(35%, -50%);
}

.fa-newspaper {
  color: #d54f53;
}

.fa-shopping-bag {
  color: #f7a21e;
}

.fa-image {
  color: #276bda;
}

.fa-power-off {
  color: #6a6367;
}

.fa-cog {
  color: #6a6367;
}

.fa-mobile-alt {
  color: #6a6367;
}

.start::after {
  left: 90%;
}

.gamepad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  width: 20%;
  font-size: 50px;
  padding-left: 20px;
}

.controller {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 150px;
}

.left-controller {
  background-color: #d5f35a;
  border-radius: 125px 0 0 125px;
}

.left-controller .analog-buttons {
  left: 9%;
  top: 50%;
}

.right-controller {
  background-color: #aa2eb2;
  border-radius: 0 125px 125px 0;
}

.right-controller .analog-buttons {
  right: 9%;
  top: 20%;
}

.analog-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 125px;
}

.analog-buttons .top-row, .analog-buttons .bottom-row {
  margin: 0 auto;
}

.analog-buttons .middle-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px 0;
}

.analog-button {
  position: relative;
  background-color: #000;
  width: calc(125px / 3);
  height: calc(125px / 3);
  border-radius: 50%;
  -webkit-box-shadow: 2px 4px 0px #000;
          box-shadow: 2px 4px 0px #000;
}

.analog-button::after {
  content: attr(data-analog-button);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.analog-button:active {
  -webkit-box-shadow: 2px 2px 0px #000;
          box-shadow: 2px 2px 0px #000;
  top: 2px;
}

.btn-alpha::after {
  top: 53%;
  font-size: calc(125px / 4.5);
  color: #eeeeee;
}

.directional-arrow::after {
  font-size: calc(125px / 4.5);
  color: #333;
}

.middle-row .directional-arrow:first-child::after {
  -webkit-transform: translate(-60%, -50%);
          transform: translate(-60%, -50%);
}

.middle-row .directional-arrow:last-child::after {
  -webkit-transform: translate(-40%, -45%);
          transform: translate(-40%, -45%);
}

.control-stick-wrapper {
  position: absolute;
  display: inline-block;
  left: -9%;
  padding: 40px;
  opacity: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.left-controller .control-stick-wrapper {
  top: 15%;
}

.right-controller .control-stick-wrapper {
  top: 44.5%;
}

.control-stick-base {
  width: 105px;
  height: 105px;
  background-color: #000;
  border-radius: 50%;
}

.control-stick {
  position: absolute;
  width: 90px;
  height: 90px;
  background-color: #333;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  pointer-events: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.control-stick-inner {
  position: absolute;
  left: 8%;
  top: 8%;
  width: 75px;
  height: 75px;
  background-color: #000;
  border-radius: 50%;
}

.start-select-btn {
  position: absolute;
  top: 8%;
  background-color: #000;
  width: 30px;
  height: 6px;
  -webkit-box-shadow: 1px 4px 0px #000;
          box-shadow: 1px 4px 0px #000;
}

.start-select-btn:active {
  -webkit-box-shadow: 1px 2px 0px #000;
          box-shadow: 1px 2px 0px #000;
  top: calc(8% + 2px);
}

.left-controller .start-select-btn {
  left: 70%;
}

.right-controller .start-select-btn {
  right: 70%;
}

.right-controller .start-select-btn::before {
  content: '';
  position: absolute;
  top: -12px;
  left: 11px;
  width: 6px;
  height: 30px;
  background-color: #000;
  -webkit-box-shadow: 0px 2px 0px #000;
          box-shadow: 0px 2px 0px #000;
}

.misc-controller-btns {
  position: absolute;
  bottom: 20%;
  background-color: #000;
}

.right-controller .misc-controller-btns {
  right: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 6px solid #333;
  -webkit-box-shadow: 1px 1px 0px 0px #333;
          box-shadow: 1px 1px 0px 0px #333;
  font-size: 20px;
}

.right-controller .misc-controller-btns .fa-home {
  color: #333;
}

.right-controller .misc-controller-btns:active {
  -webkit-box-shadow: 0px 0px 0px 0px #333;
          box-shadow: 0px 0px 0px 0px #333;
  bottom: calc(20% - 2px);
}

.left-controller .misc-controller-btns {
  padding: 12.5px;
  left: 60%;
  -webkit-box-shadow: inset -1px -1px 0px 0px #333;
          box-shadow: inset -1px -1px 0px 0px #333;
}

.left-controller .misc-controller-btns:active {
  -webkit-box-shadow: inset 0px 0px 0px 0px #333;
          box-shadow: inset 0px 0px 0px 0px #333;
  bottom: calc(20% - 2px);
}

.left-controller .misc-controller-btns::before {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 1px);
  width: 20px;
  height: 20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #333;
}

.left-controller .misc-controller-btns::before:active {
  top: calc(50% - 2px);
}
/*# sourceMappingURL=style.css.map */